    <label><%= l(:field_users) %></label>
    <% unless users.empty? %>
    <div id="user_items">
      <%= users.size -%> <%= "users".pluralize %>
      <ul>
        <% users.sort.each do |user| %>
        <li><%= h user.name %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


